    .agents {
        width: 100%;
        max-width: 100%;
        min-height: 82vw;
        background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
        border-radius: 0px 175px 0px 0px;
    }
    
    .container--agents {
        position: relative;
    }
    
    .decoration--agents {
        top: 16%;
        left: 84%;
    }
    
    .agents-title,
    .agents-subtitle {
        color: $white;
    }
    
    .agents__cities {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .agents__city {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-right: 2rem;
        margin-bottom: 2rem;
        &:nth-child(3) {
            margin-right: 0;
        }
        &:nth-child(6) {
            margin-right: 0;
        }
    }
    
    .city-info {
        position: absolute;
        margin: 1.5rem 0 0 2rem;
        display: flex;
        flex-direction: column
    }
    
    .city-img {
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .city-title {
        @include title(1.5rem, 2rem, $white);
    }
    
    .city-subtitle {
        @include text (0.875rem, 1.5rem, $white);
        font-weight: 700;
    }
    
    .city-link {
        width: 9.125rem;
        height: 3rem;
        background: $white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0992414);
        border-radius: 1.5rem;
        @include text (0.875rem, 1.5rem, $gray);
        font-weight: 700;
        text-align: center;
        line-height: 3rem;
        margin-top: 130%;
    }
    
    .agents__control {
        margin: 0;
        border: 1px solid $gray-acc;
        transition: all 0.3s ease-in;
    }
    
    .agents__icon {
        transform: rotate(-90deg);
    }
    
    .reference-block__link--agents {
        color: $white;
        transition: all 0.3s ease-in;
        &:hover {
            color: $gray;
            .agents__control {
                border: 1px solid $gray;
            }
        }
    }
    
    @media screen and ( max-width: 1150px) {
        .city-link {
            margin-top: 100%;
        }
        .agents__city {
            margin-right: 1.25rem;
            margin-bottom: 1.25rem;
        }
        .decoration--agents {
            left: 78%;
        }
    }
    
    @media screen and ( max-width: 1000px) {
        .city-link {
            margin-top: 80%;
        }
    }
    
    @media screen and ( max-width: 900px) {
        .city-link {
            margin-top: 60%;
        }
    }
    
    @media screen and ( max-width: 768px) {
        .agents__city {
            width: 40%;
            margin-right: 1.25rem;
            margin-bottom: 1.25rem;
            &:nth-child(3) {
                margin-right: 1.25rem;
            }
            &:nth-child(6) {
                margin-right: 1.25rem;
            }
        }
        .city-link {
            margin-top: 80%;
        }
        .decoration--agents {
            left: 70%;
        }
    }
    
    @media screen and ( max-width: 669px) {
        .city-link {
            margin-top: 60%;
        }
    }
    
    @media screen and ( max-width: 590px) {
        .city-link {
            margin-top: 40%;
        }
        .decoration--agents {
            left: 60%;
        }
    }
    
    @media screen and ( max-width: 525px) {
        .city-link {
            margin-top: 30%;
        }
        .city-info {
            margin: 1rem 0 0 1rem;
        }
    }
    
    @media screen and ( max-width: 480px) {
        .agents__city {
            width: 90%;
            margin-right: 0;
            margin-bottom: 1rem;
            &:nth-child(3) {
                margin-right: 0;
            }
            &:nth-child(6) {
                margin-right: 0;
            }
        }
        .city-info {
            margin: 1.5rem 0 0 2rem;
        }
        .city-link {
            margin-top: 150%;
        }
        .decoration--agents {
            top: 9%
        }
    }