        .blog {
            width: 100%;
            position: relative;
            background-color: $gray-back;
            display: flex;
            &__img {
                width: 50%;
                object-fit: cover;
            }
            &__info {
                width: 50%;
                position: relative;
                margin-top: 15.75rem;
                margin-left: 1.875rem;
            }
            &__buttons {
                margin-top: 2.375rem;
                display: flex;
                padding-bottom: 2rem;
            }
            &__btn {
                display: flex;
                align-items: center;
                background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
                border-radius: 8px;
                padding: 1rem;
                border: none;
                cursor: pointer;
                @include text (1.5rem, 2rem, $white);
                margin-right: 1.875rem;
                &:nth-child(2) {
                    margin-right: 0;
                }
            }
            &__btn-icon {
                margin-right: 1rem;
            }
        }
        
        .section-title--blog {
            width: 20.375rem;
            margin-bottom: 1.875rem;
        }
        
        .decoration--blog {
            top: -9%;
            right: 32%;
        }
        
        .decoration--blog path {
            fill: rgba(0, 79, 222, 1);
        }
        
        .container--blog {
            width: 100%;
        }
        
        @media screen and ( max-width: 1000px) {
            .blog {
                &__btn {
                    padding: 0.7rem;
                    @include text (1.5rem, 2rem, $white);
                }
            }
        }
        
        @media screen and ( max-width: 930px) {
            .blog {
                &__btn {
                    @include text (1.2rem, 1.5rem, $white);
                }
            }
        }
        
        @media screen and ( max-width: 850px) {
            .blog {
                &__btn {
                    @include text (1rem, 1.2rem, $white);
                }
                &__btn-icon {
                    margin-right: 0.3rem;
                }
            }
        }
        
        @media screen and ( max-width: 768px) {
            .blog {
                &__info {
                    margin-left: 1rem;
                }
                &__buttons {
                    flex-direction: column;
                }
                &__btn {
                    margin-top: 1.5rem;
                    justify-content: center;
                    @include text (1.5rem, 2rem, $white);
                    &:nth-child(2) {
                        margin-right: 1.875rem;
                    }
                }
                &__btn-icon {
                    margin-right: 1rem;
                }
            }
            .section-title--blog {
                width: 100%;
            }
        }
        
        @media screen and ( max-width: 480px) {
            .blog {
                flex-direction: column;
                &__img {
                    width: 100%;
                }
                &__info {
                    width: 100%;
                    margin-top: 0;
                }
                &__buttons {
                    width: 60%;
                }
                &__info {
                    margin-left: 0;
                }
            }
            .decoration--blog {
                top: 3%;
                right: 5%;
            }
            .section-title--blog {
                @include title ( 2.5rem, 3rem, $gray);
                width: 60%;
            }
            .section-subtitle--blog {
                width: 70%;
            }
            .container--blog {
                width: calc(100% - 14px*2);
            }
        }