    .header {
        width: 100%;
        position: absolute;
        z-index: 12;
    }
    
    .container--nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo {
        display: block;
        width: 3rem;
        height: 3rem;
        margin-top: 1rem;
    }
    
    .logo_img {
        display: block;
        width: 100%;
    }
    
    .nav {
        &__list {
            display: flex;
        }
        &__list-item {
            margin-right: 4rem;
        }
        &__item-link {
            @include text ($color: $white);
            padding-bottom: 0.7rem;
            &:hover {
                border-bottom: 1px solid $gray-decor;
            }
        }
    }
    
    .accont__link {
        display: block;
        text-align: center;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        border-radius: 50%;
        border: 1px solid $gray-acc;
    }
    
    @media screen and (max-width:768px) {
        .nav {
            &__list {
                display: none;
            }
        }
        .social-nav {
            display: flex;
        }
        .accont__link {
            margin-right: 0.7rem;
        }
    }