.properties {
    width: 100%;
    position: relative;
}

.container--properties {
    position: relative;
}

.section-title {
    @include title ( 3.5rem, 4rem, $gray);
    padding-top: 4.75rem;
}

.section-subtitle {
    @include text ( 1.5rem, 2rem, $gray);
    padding-top: 0.875rem;
    padding-bottom: 4.375rem;
}

.properties__slider {
    margin-bottom: 4rem;
}

.slider-block {
    position: relative;
    display: block;
    box-sizing: border-box;
    &__info {
        position: absolute;
        padding: 1.625rem 0 0 2rem;
    }
    &__title {
        @include text (1.5rem, 2rem, $white);
    }
    &__text {
        @include title (1.5rem, 2rem, $white);
    }
}

.slider-img {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    width: 16.875rem;
    height: 29rem;
    border-radius: 5px;
}

.reference-block {
    &__link {
        display: flex;
        align-items: center;
        @include text ( 1.25rem, 1.5rem, $gray);
        margin-right: 1rem;
        padding-bottom: 2rem;
    }
    &__text {
        margin-right: 0.9rem;
    }
}

.reference-block__link--properties:hover {
    color: $blue;
    transition: all 0.3s ease-in;
    .properties__control {
        border: 1px solid $blue;
        transition: all 0.3s ease-in;
    }
}

.decoration--properties {
    top: 80%;
    left: 86%;
}

.decoration--properties path {
    fill: rgba(0, 79, 222, 1);
}

.properties__control {
    margin: 0;
    border: 1px solid $lite-gray;
}

.properties__icon {
    transform: rotate(-90deg);
}

.properties__icon path {
    fill: $blue;
}

@media screen and ( max-width: 1135px) {
    .decoration--properties {
        left: 84%;
    }
}

@media screen and ( max-width: 1024px) {
    .decoration--properties {
        left: 82%;
    }
}

@media screen and ( max-width: 900px) {
    .decoration--properties {
        left: 80%;
    }
}

@media screen and ( max-width: 815px) {
    .decoration--properties {
        left: 78%;
    }
}

@media screen and ( max-width: 768px) {
    .decoration--properties {
        left: 75%;
    }
}

@media screen and ( max-width: 690px) {
    .decoration--properties {
        left: 70%;
    }
}

@media screen and ( max-width: 598px) {
    .decoration--properties {
        left: 63%;
    }
}

@media screen and ( max-width: 480px) {
    .decoration--properties {
        top: 44%;
        left: 61%;
    }
}