/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1190px) {
  .container {
    width: calc(100% - 54px);
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 54px);
  }
}
@media screen and (max-width: 980px) {
  .container {
    width: calc(100% - 54px);
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 30px);
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: calc(100% - 28px);
  }
}
.header {
  width: 100%;
  position: absolute;
  z-index: 12;
}

.container--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
}

.logo_img {
  display: block;
  width: 100%;
}

.nav__list {
  display: flex;
}
.nav__list-item {
  margin-right: 4rem;
}
.nav__item-link {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: white;
  line-height: 1.5rem;
  padding-bottom: 0.7rem;
}
.nav__item-link:hover {
  border-bottom: 1px solid #e9e9e9;
}

.accont__link {
  display: block;
  text-align: center;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }

  .social-nav {
    display: flex;
  }

  .accont__link {
    margin-right: 0.7rem;
  }
}
.burger {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: 0.5s all ease-in-out;
  top: -9999px;
  pointer-events: none;
  padding: 1rem;
}
.burger__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2.7rem;
}
.burger___item {
  padding: 1.5rem 0;
}
.burger__item-link {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  line-height: 3.125rem;
}

.burger-open {
  display: none;
  text-align: center;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.burger__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.burger-close {
  display: block;
  text-align: center;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  background: none;
  margin-right: 1.5rem;
  cursor: pointer;
}

.logo {
  text-align: center;
}

.burger-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.3s all ease-in-out;
  background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
  opacity: 0;
  z-index: -9999;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: all;
  z-index: 998;
}

.open {
  top: 0;
  pointer-events: all;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .burger-open {
    display: block;
    cursor: pointer;
  }

  .accont__link--burger {
    margin: 0 auto;
  }
}
.banner {
  position: relative;
  width: 100%;
  min-height: 61vw;
  background-image: url(../img/banner_img.png);
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 175px;
}
.banner::after {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  content: ".";
  font-size: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 135px;
  background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
  opacity: 0.9;
}
.banner__form {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 15rem;
}
.banner__form-select {
  width: 16.875rem;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: #333333;
  line-height: 1.5rem;
  padding: 0.75rem;
  border: none;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 5px;
  margin-right: 1.875rem;
}
.banner__form-input {
  width: 27.875rem;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: #333333;
  line-height: 1.5rem;
  padding: 0.75rem;
  border: none;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 5px;
}
.banner .search {
  position: absolute;
  transform: translateX(-150%) translateY(50%);
}

.container--banner {
  position: relative;
  z-index: 5;
}

.main-title {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  color: white;
  line-height: 5rem;
  padding-top: 16.875rem;
  width: 35.2rem;
  margin: 0 auto;
  text-align: center;
}

.decoration {
  position: absolute;
  top: 27%;
  right: 55%;
}

.control--wrapper {
  padding-bottom: 2rem;
}

.control {
  position: relative;
  top: 50%;
  display: block;
  text-align: center;
  width: 3rem;
  height: 3rem;
  background: none;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}
.control:hover {
  cursor: pointer;
}

.control-img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
}

@media screen and (max-width: 900px) {
  .banner__form-input {
    width: 23.875rem;
  }
}
@media screen and (max-width: 768px) {
  .banner__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .banner__form-input {
    margin-top: 1.75rem;
  }
  .banner .search {
    top: 60%;
    left: 79%;
    display: none;
  }

  .main-title {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .main-title {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    color: white;
    line-height: 5rem;
    padding-top: 14.75rem;
  }

  .decoration {
    top: 23%;
    right: 41%;
  }
}
.properties {
  width: 100%;
  position: relative;
}

.container--properties {
  position: relative;
}

.section-title {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  color: #333333;
  line-height: 4rem;
  padding-top: 4.75rem;
}

.section-subtitle {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  color: #333333;
  line-height: 2rem;
  padding-top: 0.875rem;
  padding-bottom: 4.375rem;
}

.properties__slider {
  margin-bottom: 4rem;
}

.slider-block {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slider-block__info {
  position: absolute;
  padding: 1.625rem 0 0 2rem;
}
.slider-block__title {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  line-height: 2rem;
}
.slider-block__text {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  line-height: 2rem;
}

.slider-img {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  width: 16.875rem;
  height: 29rem;
  border-radius: 5px;
}

.reference-block__link {
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: #333333;
  line-height: 1.5rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
}
.reference-block__text {
  margin-right: 0.9rem;
}

.reference-block__link--properties:hover {
  color: #004FDE;
  transition: all 0.3s ease-in;
}
.reference-block__link--properties:hover .properties__control {
  border: 1px solid #004FDE;
  transition: all 0.3s ease-in;
}

.decoration--properties {
  top: 80%;
  left: 86%;
}

.decoration--properties path {
  fill: #004fde;
}

.properties__control {
  margin: 0;
  border: 1px solid rgba(51, 51, 51, 0.5);
}

.properties__icon {
  transform: rotate(-90deg);
}

.properties__icon path {
  fill: #004FDE;
}

@media screen and (max-width: 1135px) {
  .decoration--properties {
    left: 84%;
  }
}
@media screen and (max-width: 1024px) {
  .decoration--properties {
    left: 82%;
  }
}
@media screen and (max-width: 900px) {
  .decoration--properties {
    left: 80%;
  }
}
@media screen and (max-width: 815px) {
  .decoration--properties {
    left: 78%;
  }
}
@media screen and (max-width: 768px) {
  .decoration--properties {
    left: 75%;
  }
}
@media screen and (max-width: 690px) {
  .decoration--properties {
    left: 70%;
  }
}
@media screen and (max-width: 598px) {
  .decoration--properties {
    left: 63%;
  }
}
@media screen and (max-width: 480px) {
  .decoration--properties {
    top: 44%;
    left: 61%;
  }
}
.agents {
  width: 100%;
  max-width: 100%;
  min-height: 82vw;
  background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
  border-radius: 0px 175px 0px 0px;
}

.container--agents {
  position: relative;
}

.decoration--agents {
  top: 16%;
  left: 84%;
}

.agents-title,
.agents-subtitle {
  color: white;
}

.agents__cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.agents__city {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.agents__city:nth-child(3) {
  margin-right: 0;
}
.agents__city:nth-child(6) {
  margin-right: 0;
}

.city-info {
  position: absolute;
  margin: 1.5rem 0 0 2rem;
  display: flex;
  flex-direction: column;
}

.city-img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.city-title {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  line-height: 2rem;
}

.city-subtitle {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  color: white;
  line-height: 1.5rem;
  font-weight: 700;
}

.city-link {
  width: 9.125rem;
  height: 3rem;
  background: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 1.5rem;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  color: #333333;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 3rem;
  margin-top: 130%;
}

.agents__control {
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in;
}

.agents__icon {
  transform: rotate(-90deg);
}

.reference-block__link--agents {
  color: white;
  transition: all 0.3s ease-in;
}
.reference-block__link--agents:hover {
  color: #333333;
}
.reference-block__link--agents:hover .agents__control {
  border: 1px solid #333333;
}

@media screen and (max-width: 1150px) {
  .city-link {
    margin-top: 100%;
  }

  .agents__city {
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .decoration--agents {
    left: 78%;
  }
}
@media screen and (max-width: 1000px) {
  .city-link {
    margin-top: 80%;
  }
}
@media screen and (max-width: 900px) {
  .city-link {
    margin-top: 60%;
  }
}
@media screen and (max-width: 768px) {
  .agents__city {
    width: 40%;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .agents__city:nth-child(3) {
    margin-right: 1.25rem;
  }
  .agents__city:nth-child(6) {
    margin-right: 1.25rem;
  }

  .city-link {
    margin-top: 80%;
  }

  .decoration--agents {
    left: 70%;
  }
}
@media screen and (max-width: 669px) {
  .city-link {
    margin-top: 60%;
  }
}
@media screen and (max-width: 590px) {
  .city-link {
    margin-top: 40%;
  }

  .decoration--agents {
    left: 60%;
  }
}
@media screen and (max-width: 525px) {
  .city-link {
    margin-top: 30%;
  }

  .city-info {
    margin: 1rem 0 0 1rem;
  }
}
@media screen and (max-width: 480px) {
  .agents__city {
    width: 90%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .agents__city:nth-child(3) {
    margin-right: 0;
  }
  .agents__city:nth-child(6) {
    margin-right: 0;
  }

  .city-info {
    margin: 1.5rem 0 0 2rem;
  }

  .city-link {
    margin-top: 150%;
  }

  .decoration--agents {
    top: 9%;
  }
}
.blog {
  width: 100%;
  position: relative;
  background-color: whitesmoke;
  display: flex;
}
.blog__img {
  width: 50%;
  object-fit: cover;
}
.blog__info {
  width: 50%;
  position: relative;
  margin-top: 15.75rem;
  margin-left: 1.875rem;
}
.blog__buttons {
  margin-top: 2.375rem;
  display: flex;
  padding-bottom: 2rem;
}
.blog__btn {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
  border-radius: 8px;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  line-height: 2rem;
  margin-right: 1.875rem;
}
.blog__btn:nth-child(2) {
  margin-right: 0;
}
.blog__btn-icon {
  margin-right: 1rem;
}

.section-title--blog {
  width: 20.375rem;
  margin-bottom: 1.875rem;
}

.decoration--blog {
  top: -9%;
  right: 32%;
}

.decoration--blog path {
  fill: #004fde;
}

.container--blog {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .blog__btn {
    padding: 0.7rem;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
    line-height: 2rem;
  }
}
@media screen and (max-width: 930px) {
  .blog__btn {
    font-family: "Josefin Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 850px) {
  .blog__btn {
    font-family: "Josefin Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    line-height: 1.2rem;
  }
  .blog__btn-icon {
    margin-right: 0.3rem;
  }
}
@media screen and (max-width: 768px) {
  .blog__info {
    margin-left: 1rem;
  }
  .blog__buttons {
    flex-direction: column;
  }
  .blog__btn {
    margin-top: 1.5rem;
    justify-content: center;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
    line-height: 2rem;
  }
  .blog__btn:nth-child(2) {
    margin-right: 1.875rem;
  }
  .blog__btn-icon {
    margin-right: 1rem;
  }

  .section-title--blog {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .blog {
    flex-direction: column;
  }
  .blog__img {
    width: 100%;
  }
  .blog__info {
    width: 100%;
    margin-top: 0;
  }
  .blog__buttons {
    width: 60%;
  }
  .blog__info {
    margin-left: 0;
  }

  .decoration--blog {
    top: 3%;
    right: 5%;
  }

  .section-title--blog {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    color: #333333;
    line-height: 3rem;
    width: 60%;
  }

  .section-subtitle--blog {
    width: 70%;
  }

  .container--blog {
    width: calc(100% - 28px);
  }
}
.footer__links {
  display: flex;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e9e9e9;
}
.footer__block {
  width: 30%;
  margin-top: 4.625rem;
  margin-right: 8.125rem;
}
.footer__block:last-child {
  margin-right: 0;
}
.footer__block-list:first-child {
  margin-right: 8rem;
}
.footer__block-text {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: rgba(51, 51, 51, 0.5);
  line-height: 1.5rem;
  margin-top: 1rem;
}
.footer__block-title {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #333333;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
.footer__block-item {
  padding-bottom: 8px;
}
.footer__block-link {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: #333333;
  line-height: 1.5rem;
}
.footer__block-nav {
  display: flex;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
.footer__info--text {
  width: auto;
  padding: 2.5rem 0 2.5rem 0;
}

.logo--footer path {
  fill: #333333;
}

.social {
  margin-top: 3rem;
}

.social__link {
  padding-right: 5px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.footer-form__input {
  border: 1px solid #dadada;
  border-radius: 5px;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: rgba(51, 51, 51, 0.5);
  line-height: 1.5rem;
  padding: 0.8rem 0 0.8rem 1rem;
  margin-bottom: 1rem;
}
.footer-form__btn {
  background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
  border-radius: 5px;
  border: none;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  color: white;
  line-height: 1.5rem;
  text-align: center;
  padding: 0.9rem;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .footer__block {
    margin-right: 7rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__links {
    flex-wrap: wrap;
  }
  .footer__block {
    width: 40%;
  }
  .footer__block:first-child {
    width: 100%;
    margin-right: 0;
  }
  .footer__block--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .social {
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  .social {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__block {
    width: 100%;
  }
  .footer__info {
    flex-direction: column;
    align-items: center;
  }
  .footer__info--text {
    width: auto;
    padding-top: 2.5rem;
  }
  .footer__info--text:last-child {
    padding: 1.5rem 0 2.5rem 0;
  }
}