$white:rgba(255, 255, 255, 1);
$blue:#004FDE;
$gray:rgba(51, 51, 51, 1);
$lite-gray:rgba(51, 51, 51, 0.5);
$gray-decor:rgba(233, 233, 233, 1);
$gray-back:rgba(245, 245, 245, 1);
$gray-acc:rgba(255, 255, 255, 0.3);
$foot-inp:rgba(218, 218, 218, 1);